input {
    background-color: white;
    border: none;
    min-width: 125px;
    min-height: 30px;
    font-size: 18px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}

input:focus {
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}

.budget-input {
    border-left: 3px solid green;
    color: green;
}