.application-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.application-container-elements {
    background-color: #FFFFFF;
    padding: 10px 20px 0px 20px;
    border-radius: 5px;
}

.application-container-subheader {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    margin-bottom: 0px;
    color: darkgreen;
}

h3 {
    margin-top: 1px;
    color: #000000;
}

.modal-balance-form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
}

.budget-amount-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.budget-amount-title {
    margin-right: 5px;
    font-weight: 900 !important;
    margin-top: -75px;
}

.budget-amount {
    color: rgb(2, 80, 2);
    font-weight: 900 !important;
    margin-top: -90px;
}